.table {
    width: 98%; 
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
    border: 1px solid #c8c8c8; 
}
.nav_bar form {
    margin-left: 6%; 
}
.bcst{
    padding-right: 80%;
}
tr{
    margin:90%
}

.table thead th {
    background-color: #f9f9f9;
    color: black;
    padding: 12px;
    text-align: center;
}
.table tbody td {
    text-align: center;
    padding: 8px;
    font-size: 14px;
    background-color: #f9f9f9;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav_bar {
    background-color: #2E3977; 
}

.navbar_nav .nav_item {
    margin-left: 5%;
}

.navbar_nav .nav_item:last-child {
    margin-left: 5%;
}

.navbar_nav .nav_link {
    color: white; 
    padding: 0.5rem 1rem; 
    border-radius: 0.25rem; 
    transition: all 0.3s ease; 
}

.nav_bar img {
    width: 50px;
    height: 50px;
    margin-left: 1rem; 
}
.nav_link:hover{
    color:black;
}

.page {
    margin-left: 79%;
}

.search {
    margin-left: 3%;
    margin-right: 1%;
    margin-top: 10px; 
    width: 23%;
}

.create-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0; 
    margin-bottom: 1%;
}


.profile_img {
    width: 200px;
    height: 200px;
    object-fit: cover; 
}

.dropdown_menu {
    left: -200px; 
    right: auto;
}

.nav_bar {
    transition: height 0.3s ease;
}

.navbar_collapse {
    flex-grow: 1;
}

.navbar_toggler {
    border: white;
    outline: none;
}

@media (max-width: 768px) {
    .nav_bar {
        width: 100vw;
        overflow: hidden;
    }

    .navbar_collapse {
        background-color: #f8f9fa; 
        width: 100%;
    }
    
}
